
.main-advantages__list {
  width: 100%;
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0 0 0 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1280px) {
    grid-template-columns: 400px 400px 400px;
  }
}

.main-advantages__item {
  width: 100%;

  &:nth-child(1) {
    @media (min-width: 768px) {
      grid-column: 1/4;
    }
  }

  &:nth-child(5) {
    @media (min-width: 768px) {
      width: 100%;
      grid-column: 1/4;
    }
  }
}

.main-advantages__modify {
  background-color: #eeeeee;
  padding: 55px 0 39px 0;

  &:nth-child(3) {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;

    @media (min-width: 768px) {
      border: none;
    }
  }

  @media (min-width: 768px) {
    border: none;
    padding: 42px 0;
  }

  @media (min-width: 1280px) {
    padding: 42px 0;
  }
}

.main-advantages__container {
  background-color: #eeeeee;

  @media (min-width: 768px) {
    width: 189px;
    margin: 0 auto;
  }

  @media (min-width: 1280px) {
    width: 315px;
  }
}

.main-advantages__title {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: 768px) {
    width: 130px;
    margin: 0 auto;
  }
}

.main-advantages__number {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 14px 0 0 0;
}

.main-advantages__description {
  width: 270px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 14px auto 0 auto;

  @media (min-width: 768px) {
    width: 190px;
  }

  @media (min-width: 1280px) {
    width: 290px;
  }
}

.main-advantages__contain {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.main-advantages__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  position: relative;
  box-sizing: border-box;
  background-color: @background-blue;
  text-transform: uppercase;
  padding: 55px 18px 20px 18px;

  @media (min-width: 768px) {
    width: 40%;
  }

  @media (min-width: 1280px) {
    width: 400px;
  }

  &--stretch {
    @media (min-width: 768px) {
      order: 1;
    }
  }
}

.main-advantages__image {
  display: flex;
  min-width: 320px;

  &--city {
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 260px;

    @media (min-width: 768px) {
      display: flex;
      margin: 0;
      min-width: 512px;
    }

    @media (min-width: 1280px) {
      background-image: url("../../img/desktop-city.jpg");
      width: 800px;
    }
  }

  &--bridge {
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 260px;

    @media (min-width: 768px) {
      display: flex;
      margin: 0;
      min-width: 512px;
    }

    @media (min-width: 1280px) {
      background-image: url("../../img/desktop-bridge.jpg");
      min-width: 800px;
    }
  }
}

.main-advantages__triangle {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;

  @media (min-width: 768px) {
    display: none;
  }
}
