.main-slogan {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 32px 18px 27px 18px;

  @media (min-width: 768px) {
    width: 450px;
    margin: 0 auto;
  }
}

.main-slogan__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 0 0 0;
}

.main-slogan__advantages {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 18px 0 0 0;
}
