.page-main {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  margin: 0 auto;
  width: 320px;
}

.main-intro {
  display: flex;
  position: relative;
  justify-content: center;
  background-image: url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-intro__svg {
  position: absolute;
  bottom: 0;
}

.main-intro__logo {
  padding: 52px 0 67px 0;
}

.main-slogan {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-slogan__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-slogan__advantages {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.recommendations__item {
  background-color: #ffffff;
  position: relative;
  text-align: left;
  padding-left: 70px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.recommendations__image {
  position: absolute;
  left: 18px;
}

.recommendations__title {
  font-weight: 700;
  font-size: 18px;
}

.advantages__item--modify {
  background-color: #eeeeee;
}

.advantages__item--modify:nth-child(7) {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.advantages__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 55px 0 0 0;
  margin: 0;
}

.advantages__number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0 0 39px 0;
  margin: 0;
}

.advantages__box {
  display: flex;
  flex-direction: column;
}

.advantages__image {
  margin: 0 auto;
  width: 320px;
  bottom: 0;
}

.advantages__box--text {
  color: #ffffff;
  position: relative;
  box-sizing: border-box;
  background-color: @background-blue;
  text-transform: uppercase;
}

.advantages__triangle {
  position: absolute;
  transform: translateY(-50%);
  left: 0;
  top: 0;
}

.booking {
  position: relative;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;
}

.booking__title {
  margin-top: 33px;
  font-size: 21px;
}

.booking__specification {
  font-weight: 400;
  font-size: 14px;
}

.booking__button {
  width: 280px;
  height: 58px;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  margin-top: 27px;
  margin-bottom: 49px;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #ffffff50;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.booking__map--narker {
  position: absolute;
  left: 146px;
  top: 450px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}
