.page-footer {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  margin: 0 auto;
  width: 320px;

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1280px) {
    width: 1200px;
  }
}

.contacts {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.contacts__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 179, 210, 1);
  margin: 6px;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    fill: #ffffff50;
  }
}

.contacts__hashtag {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 10px 0;
}

.contacts__developers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.contacts__logo {
  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: #000000;
    opacity: 0.3;
  }
}

.contacts__accounts {
  fill: #ffffff;

  &:active {
    opacity: 0.6;
  }
}
