.intro {
  display: flex;
  position: relative;
  background-image: url("../../img/back-desktop.jpg");
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-image: url("../../img/back-desktop_w750.jpg");
  }

  @media (min-width: 1280px) {
    background-image: url("../../img/back-desktop.jpg");
    background-position: bottom;
  }
}

.intro__logo {
  width: 229px;
  margin: 0 auto;
  padding: 52px 0 67px 0;

  @media (min-width: 768px) {
    width: 457px;
    padding: 95px 0 117px 0;
  }
}

.intro__triangle {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}
